version: '3.9'

services:
  backend:
    build:
      context: ../backend
    env_file:
      - ../.env
    ports:
      - '8000:8000'
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000

  worker:
    build:
      context: ../worker
    env_file:
      - ../.env
    command: python worker.py
    depends_on:
      - backend
